@using Common.Entities.Identity
@using Common.Models
@using DataAccess.Repositories
@using IdentityPortal.Resources
@using Microsoft.Extensions.Localization
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IAuthorizationRepository AuthorizationRepo
@inject IStringLocalizer<IdentityAppResources> Localizer

@{
    var signedIn = SignInManager.IsSignedIn(User);
    var userId = signedIn ? (await UserManager.GetUserAsync(User)).Id : Guid.Empty;
    var token = (new CancellationTokenSource()).Token;
    var requestPath = Context.Request.Path.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IdentityPortal</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IdentityPortal.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="border-bottom">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3 padding-y-zero">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">IdentityPortal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @if (signedIn)
        {
            <div class="container-fluid">
                <div class="row pointer-for-fiexedMenu">
                    <div id="side-navigation" class="ps-0">
                        <nav class="navbar navbar-light padding-y-zero" style="background-color: #e3f2fd;">
                            <ul class="nav navbar-nav navbar-nav-menu-size">
                                @if (await AuthorizationRepo.AccessibleToModuleAsync(userId, Constants.Module.MsgBoardManagement, token))
                                {
                                    <li class="nav-item side-navigation-normal">
                                        <a class="nav-link ps-2 side-navigation-normal c-link" onclick="site.sideMenuItemClicked('MessageBoard', '', @Constants.ModuleAccess.MsgBoardManagement)" data-moduleaccessid="@Constants.ModuleAccess.MsgBoardManagement" href="javascript:void(0);">@Localizer["Message Board Management"]</a>
                                    </li>
                                }

                                @if (await AuthorizationRepo.AccessibleToModuleAsync(userId, Constants.Module.Documents, token))
                                {
                                    <li class="nav-item dropdown side-navigation-normal">
                                        <a class="nav-link dropdown-toggle ps-2" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @Localizer["Documents"]
                                        </a>
                                        <div class="dropdown-menu cborder-0" aria-labelledby="navbarDropdownMenuLink" style="background-color: #e3f2fd;">
                                            <div class="dropdown-item-wrapper side-navigation-normal">
                                                <a class="dropdown-item side-navigation-normal c-link" onclick="site.sideMenuItemClicked('Documents', 'Newsletters', @Constants.ModuleAccess.NewLetters)" data-moduleaccessid="@Constants.ModuleAccess.NewLetters" href="javascript:void(0);">@Localizer["Newsletters"]</a>
                                            </div>
                                            <div class="dropdown-item-wrapper side-navigation-normal">
                                                <a class="dropdown-item side-navigation-normal c-link" onclick="site.sideMenuItemClicked('Documents', 'StandardForms', @Constants.ModuleAccess.StandardForms)" data-moduleaccessid="@Constants.ModuleAccess.StandardForms" href="javascript:void(0);">@Localizer["Standard Forms"]</a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                    <div class="pe-2">
                        @RenderBody()
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container-fluid">
                <div class="px-2">
                    @RenderBody()
                </div>
            </div>
        }
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - IdentityPortal - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        $(document).ready(function () {
            site.initialize("@requestPath");
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>